Well, my name is Vincent Wilson. My hobbies included robotics (but not in the tradioinal sense!), household hacking, camping, and above all else, programming.

I like to believe that I am skilled in the areas of programming, entry-level electronics engineering, teaching/tutoring, and surviving (in the wilderness or elsewhere)

My dream: To become skilled enough that I am able to complete complex programming projects sucessfully, either to teach something, help someone, or make others laugh.

I am a Boy Scout, and I always will be (well, as far into the future as I can see)


oh btw, i'm around the age of {{age}} lol
